$theme-colors: map-merge(
  $theme-colors,
  (
    'primary': #4a90e2
  )
);

$font-family-sans-serif: 'Poppins', sans-serif;
$font-family-base: $font-family-sans-serif;

$container-max-widths: map-merge(
  $container-max-widths,
  (
    xl: 1170px
  )
);

$modal-xl: 1170px;
